*{
    margin: 0;
    padding: 0;
}

.amz-logo{
    height: 8rem;
    /* border: 2px solid; */
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.amz-logo .logo{
    background-image: url("amz.png");
    height: 100%;
    width: 30%;
    /* border: 2px solid; */
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 18rem;
}

.login-container{
    display: flex;
    justify-content: center;
}
.wrapper{
    height: 20rem;
    width: 20rem;
    /* border: 2px solid black; */
    padding: 5rem;
}

.wrapper p{
    text-align: center;
    font-weight: 600;
}

.wrapper input{
    height: 2rem;
    width: 100%;
    border: none;
    margin: 1rem 0;
    outline: 1px solid;
    border-radius: 25px;
    padding-left: .85rem;
}
.wrapper input::placeholder{
    color: black;
    font-weight: 400;
    position: relative;
    left: 20px;
}

.wrapper button{
    width: 100%;
    padding: 5px;
    border: none;
    background-color: #f8ce44;
    border-radius: 25px;
    font-weight: 500;
}
.wrapper button:hover{
    background-color: rgb(228, 159, 12);
}

.wrapper .signup{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    color: black;
}

.wrapper .signup a{
    text-align: center;
    color: black;
    margin-left: .2rem;
    text-decoration: none;
    font-weight: 600;
} 

.wrapper .signup a:hover{
    text-decoration: underline;
}

.wrapper .tc{
    margin-top: 40px;
    color: black;
    margin-top: 2rem;

}
.tc a{
    text-decoration: none;
    color: #007185;
}
.tc a:hover{
    text-decoration: underline;
}

.wrapper .bfw{
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: black;
    font-weight: 600;
}
.wrapper .bfw a{
    text-decoration: none;
    color: #007185;
    font-weight: normal;
}
.wrapper .bfw a:hover{
    text-decoration: underline;
}

.wrapper .bottom{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.wrapper .bottom a{
    text-decoration: none;
    color: #007185;
    font-size: .85rem;
}
.wrapper .bottom a:hover{
    text-decoration: underline;
}

.wrapper span{
    font-size: .85rem;
    color: grey;
}


