body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .signup-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .signup-container h2 {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .signup-container label {
    font-weight: bold;
    display: block;
    margin-top: 1rem;
  }
  
  .signup-container input {
    width: 100%;
    padding: 8px;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .signup-container button {
    margin-top: 1.5rem;
    width: 100%;
    background-color: #febd69;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .signup-container p {
    text-align: center;
    margin-top: 1rem;
  }

  .signup-container p a{
    text-decoration: none;
    color: black;
    font-weight: 600;
  }

  .signup-container p a:hover{
    text-decoration: underline;
  }